* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
}

.container {
    max-width: 1400px;
}

.input_box {
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 7px 16px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    margin: 10px;
}

.input_field {
    width: 90%;
    height: 40px;
    font-size: 12px;
    padding: 3px 7px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
}

textarea {
    width: 90%;
    height: 130px;
    resize: none;
    font-size: 12px;
    padding: 5px 7px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
}

input:focus,
textarea:focus {
    outline: 1px solid rgba(56, 56, 255, 0.842);
}

.add_btn {
    background-color: #524fff;
    color: white;
    height: 40px;
    width: 90%;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 6px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 5px;
    cursor: pointer;
}

.add_btn:active {
    background-color: #302dd8;
}

.note_box {
    width: 100%;
    list-style: none;
    padding: 10px;

}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: auto;
    margin-top: 60px;
    width: 70%;
    border-radius: 5px;
}

li {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #c8aef0;
    border-radius: 7px;
}

.note_text {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e6d9fc;
    border-radius: 7px;
}

.note_text p {
    margin: 15px;
    word-break: break-word;
    white-space: normal;
    border-radius: 5px;
}


h4 {
    margin: 20px;
    font-size: 16px;
}

.btn_div {
    margin: 5px;
    padding: 7px;
    background-color: rgb(151, 131, 187);
    border-radius: 5px;
}

.edit_btn {
    background-color: rgb(0, 202, 0);
    color: white;
    width: 55px;
    height: 30px;
    font-size: 17px;
    cursor: pointer;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.edit_btn:active {
    background-color: rgb(0, 150, 0);
}

.dlt_btn {
    font-size: 17px;
    color: white;
    background-color: rgb(255, 27, 27);
    width: 45px;
    height: 30px;
    cursor: pointer;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.dlt_btn:active {
    background-color: rgb(179, 0, 0);
}